<div class="background">
    <div *ngIf="!hireBtnClicked" class="card">
        <div class="titles">
            <label class="title">Welcome to the most accurate applicant tracking system!</label>
            <p>Simply enter the role requirements, upload the candidate's resume, and we'll handle the rest!</p>
        </div>
        <div class="inputs">
            <div class="input-container">
                <label class="input-title">Job Description</label>
                <mat-form-field>
                    <textarea 
                        [formControl]="roleFormControl" 
                        class="textarea" 
                        rows="3"
                        matInput>
                    </textarea>
                </mat-form-field>
            </div>
            <div class="input-container">
                <label class="input-title">Resume</label>
                <mat-form-field aria-disabled="true">
                    <textarea 
                        [formControl]="resumeFormControl"  
                        [class]="textAreaClass" 
                        [readonly]="resumeDisabled"
                        rows="3"
                        matInput>
                    </textarea>
                    <div [class]="resumeBoxClass">
                        <button (click)="textResume()">Enter Text</button>
                        <button (click)="uploader.click()">Upload File 
                            <input 
                                hidden 
                                type="file" 
                                #uploader
                                (change)="uploadFile($event)"
                            />
                        </button>
                    </div>
                    <div [class]="resumeFileClass">
                        <label (click)="closeFileUpload()" class="close"></label>
                        <label class="filename"><img src="../../../assets/file.png" class="file-img">{{ fileName }}</label>
                    </div>
                </mat-form-field>
            </div>
        </div>
        <button class="submit" (click)="openPopup()">Calculate</button>
    </div>

    <div *ngIf="hireBtnClicked" class="card info-card">
        <label class="title">
            Great choice! Here's all the information you need to contact your new employee
        </label>
        <div class="info">
            <label>linagluzman&#64;gmail.com</label>
            <label>0523348177</label>
            <label><a href="../../../assets/files/evelyne_resume.pdf" target=”_blank”>View Resume</a></label>
        </div>
        <div class="links">
            <a href="https://www.linkedin.com/in/evelyne-gluzman-280b72270/" target=”_blank”>
                <img src="../../../assets/linkedin-logo.png">
            </a>
            <a href="https://github.com/evelyne802" target=”_blank”>
                <img src="../../../assets/github-logo.jpg">
            </a>
            <a href="https://api.whatsapp.com/send?phone=972523348177">
                <img src="../../../assets/whatsapp-logo.png">
            </a>
        </div>
    </div>
</div>