<div class="background">
    <div class="card">
        <div class="titles">
            <label class="title">Welcome to the most accurate applicant tracking system!</label>
            <p>Simply enter the role requirements, upload your resume, and we'll handle the rest!</p>
        </div>
        <div class="inputs">
            <div class="input-container">
                <label class="input-title">Job Description</label>
                <mat-form-field>
                    <textarea 
                        [formControl]="roleFormControl" 
                        class="textarea" 
                        rows="3"
                        matInput>
                    </textarea>
                </mat-form-field>
            </div>
            <div class="input-container">
                <label class="input-title">Your Resume</label>
                <mat-form-field aria-disabled="true">
                    <textarea 
                        [formControl]="resumeFormControl"  
                        [class]="textAreaClass" 
                        [readonly]="resumeDisabled"
                        rows="3"
                        matInput>
                    </textarea>
                    <div [class]="resumeBoxClass">
                        <button (click)="textResume()">Enter Text</button>
                        <button (click)="uploader.click()">Upload File 
                            <input 
                                hidden 
                                type="file" 
                                #uploader
                                (change)="uploadFile($event)"
                            />
                        </button>
                    </div>
                    <div [class]="resumeFileClass">
                        <label (click)="closeFileUpload()" class="close"></label>
                        <label class="filename"><img src="../../../assets/file.png" class="file-img">{{ fileName }}</label>
                    </div>
                </mat-form-field>
            </div>
        </div>
        <button class="submit" (click)="openPopup()">Calculate</button>
    </div>
</div>