.background {
    background: linear-gradient(300deg, #00bfff, #bf6ff9, #ff5ea1, #ffd684);
    animation: gradient-animation 18s ease infinite;
    background-size: 220% 220%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-height: 100dvh;
    width: 100vw;
    top: 0;
    left: 0;
}

.card {
    text-align: center;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #ffffffcc;
    width: 70vw;
    height: 600px;
    justify-content: center;
    align-content: space-around;
    padding: 50px;
    border-radius: 15px;
}

.titles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 1.3rem;
    height: fit-content;
    color: #2e2e2e;
}

.card p {
    font-weight: 400;
    font-size: 1rem;
    width: 85%;
    height: fit-content;
    color: #646464;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
}

.input-container {
    height: 100px;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.choose-input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    margin-top: -56px;
    cursor: auto;
}

.choose-input-disabled {
    display: none;
}

.disabled-file-name {
    display: none;
}

.show-file-name {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -88px;
}

.filename {
    height: 50%;
}

.file-img {
    height: 20px;
    margin: 0px 5px -3px -5px;
}


.input-title {
    font-size: 1.1rem;
    width: 160px;
    text-align: left;
    width: 160px;
}

.textarea {
    padding: 15px;
    text-align: left;
    resize: none;
    width: 100%;
    border: none;
    border-radius: 8px;
}

.default-cursor {
    cursor: default;
}

.textarea:focus-visible {
    outline: none !important;
}

.submit {
    width: 300px;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: rgb(208, 208, 208); 
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgb(114, 114, 114); 
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: rgb(90, 90, 90);  
}

.dialog-background {
    background-color: rgba(113, 113, 113, 0.44);
    backdrop-filter: blur(4px);
  } 

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #ffffff !important;
    border-radius: 8px;
}

::ng-deep .mdc-line-ripple::before {
    width: 0 !important;
 }

::ng-deep .mdc-line-ripple::after {
   width: 0 !important;
}

::ng-deep .mat-mdc-form-field-infix {
    width: 400px !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
    width: 100% !important;
}


@media screen and (max-width: 1030px){
    .card {
        width: 80vw;
    }
}


@media screen and (max-width: 650px){
    .input-container {
        height: 140px;
        flex-direction: column;
        align-items: center;
    }

    .input-title {
        margin: 7px 0;
    }

    .card p {
        width: 100%;
    }

    .close {
        margin: 0 15px;
    }

    ::ng-deep .mdc-text-field {
        padding: 0 !important;
    }

    ::ng-deep .mat-mdc-form-field-infix {
        margin: 5px 0 !important;
        padding: 0 !important;
    }

    ::ng-deep .mat-mdc-form-field-infix {
        width: 400px !important;
    }
}

@media screen and (max-width: 640px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 380px !important;
    }
}

@media screen and (max-width: 620px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 370px !important;
    }
}

@media screen and (max-width: 610px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 360px !important;
    }
}

@media screen and (max-width: 600px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 350px !important;
    }

    .card {
        align-content: space-between;
    }
}

@media screen and (max-width: 585px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 340px !important;
    }
}

@media screen and (max-width: 575px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 330px !important;
    }
}

@media screen and (max-width: 565px){

    .card p {
        font-weight: 400;
        font-size: 0.9rem;
    }

    ::ng-deep .mat-mdc-form-field-infix {
        width: 320px !important;
    }
}

@media screen and (max-width: 555px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 310px !important;
    }
}

@media screen and (max-width: 550px){
    .title {
        font-size: 1.2rem;
    }

    .card {
        width: 85vw;
        height: 80dvh;
    }

    ::ng-deep .mat-mdc-form-field-infix {
        width: 340px !important;
    }
}

@media screen and (max-width: 540px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 330px !important;
    }
}

@media screen and (max-width: 530px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 320px !important;
    }
}


@media screen and (max-width: 510px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 300px !important;
    }
}

@media screen and (max-width: 500px){

    button {
        width: 110px;
    }

    .card {
        height: 85dvh;
    }

    ::ng-deep .mat-mdc-form-field-infix {
        width: 290px !important;
    }

    .card {
        padding: 30px 50px;
    }
}

@media screen and (max-width: 475px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 280px !important;
    }
}

@media screen and (max-width: 455px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 270px !important;
    }
}

@media screen and (max-width: 450px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 260px !important;
    }
}

@media screen and (max-width: 440px){

    .input-container {
        height: 140px;
    }

    .choose-input {
        flex-direction: column;
        margin-top: -74px;
    }
    
    button {
        width: 185px;
        margin: 3px;
        padding: 5px 10px;
    }

    .card p {
        width: 100%;
    }

    .inputs {
        padding: 10px 0;
    }

    .textarea {
        height: 75px;
    }

    ::ng-deep .mat-mdc-form-field-infix {
        width: 250px !important;
    }

}

@media screen and (max-width: 435px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 250px !important;
    }
}

@media screen and (max-width: 425px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 240px !important;
    }
}

@media screen and (max-width: 420px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 230px !important;
    }
}

@media screen and (max-width: 410px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 225px !important;
    }
}

@media screen and (max-width: 405px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 245px !important;
    }

    .card {
        padding: 35px;
    }
}

@media screen and (max-width: 395px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 240px !important;
    }
}

@media screen and (max-width: 380px){
    ::ng-deep .mat-mdc-form-field-infix {
        width: 230px !important;
    }
}

@media screen and (max-width: 370px){

    ::ng-deep .mat-mdc-form-field-infix {
        width: 220px !important;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
